# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ITProcesses.iml
/bin/
/obj/Debug/net6.0-windows/
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
